* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 50px 0;

    .prod-title {
        color: #000;
        font-size: 35px;
    }

    .prod-subtitle {
        color: #000;

    }

    .bar2 {
        width: 175px;
        border: 1px solid #000;
        margin: 10px 0;
    }
}


/* !HEADER */

header {
    height: 90vh;
    background-image: url('../img/1header/jumbo.jpg');
    object-fit: center;
    background-position: center;
}

#header {
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    position: fixed;
    top: 0;
    width: 100%;

    .first-sec,
    .third-sec {
        display: flex;
        width: 20%;
        justify-content: space-between;
    }

    .second-sec {
        color: #000;
    }

    .link {
        color: #000;
        height: 5vh;
        padding: 10px 10px;
        /* color: white; */
        cursor: pointer;

        &:hover {
            text-shadow: #000 1px 0 5px;
        }
    }

}

.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -60px;
    padding: 290px 0;

    .title {
        font-size: 50px;
    }

    .bar {
        width: 258px;
        border: 1px solid white;
        margin: 10px 0;
    }

    .sub {
        text-align: center;
        font-family: 'Freehand', cursive;
    }

    .btn {
        width: 110px;
        height: 40px;
        background-color: #000;
        margin: 15px 0;
        padding: 10px 5px;

        .fa-solid {
            margin-left: 5px;
        }

        &:hover {
            background-color: #292727;
        }
    }
}

/* !MAIN */

main {
    background-color: #f5f5f5;
}

/* ?utility */

#utility {
    max-width: 1600px;
    margin: 0 auto;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    .light {
        width: 525px;
        height: 330px;
        background-image: url('../img/2main/utility/light.jpg');
        object-fit: cover;
        background-position: center;
        padding: 20px 20px;
    }

    .audio {
        width: 525px;
        height: 330px;
        background-image: url(../img/2main/utility/alexa.jpg);
        object-fit: cover;
        background-position: center;
        padding: 215px 0 0 320px;
    }

    .arredo {
        width: 525px;
        height: 330px;
        background-image: url('../img/2main/utility/arredo.jpg');
        object-fit: contain;
        background-position: center;
        padding: 20px 20px;
    }

}


h2 {
    font-size: 35px;
}

.exp {
    height: 5vh;
    font-size: 18px;
    padding: 10px 0;
    color: white;
    cursor: pointer;

    &:hover {
        text-shadow: #fff 1px 0 5px;
    }
}

/* ?best seller */

#best {
    max-width: 1600px;
    margin: 0 auto;
    color: #000;
    display: flex;
    justify-content: space-between;
    flex-basis: 16.6%;

    .best-card {
        background-color: #fff;
        width: 255px;
        height: 255px;
        border-radius: 7px;
        text-align: center;
        margin-bottom: 5px;
        padding-top: 25px;
        cursor: pointer;

        .img {
            max-width: 220px;
        }

    }

    .best-title {
        color: #000;
        text-align: center;
    }

    .best-price {
        text-align: center;
        margin-bottom: 30px;
        color: #000;
    }
}


.for-button {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        width: 110px;
        height: 40px;
        background-color: #000;
        margin: 15px 0;
        padding: 10px 5px;

        .fa-solid {
            margin-left: 5px;
        }

        &:hover {
            background-color: #292727;
        }
    }
}

/* ?blog */

#blog {
    background-color: #fff;
    padding: 50px 0;

    .new-post {

        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .post {

            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            flex-basis: 33%;
            padding: 0 25px;


            .post-img {
                max-width: 400px;
                margin-bottom: 20px;
            }

            .data {
                color: gray;
                margin: 10px 0;
            }

            .post-title {
                color: #000;
                font-size: 20px;
                font-weight: 700;
            }

            .post-description {
                color: gray;
                margin: 10px 0;
            }
        }
    }

}